.hero {
  background-color: var(--primary-green);
  background-image: url(../assets/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero__content {
  width: 60%;
  text-align: center;
  padding: 1rem 0;
}

.hero__title {
  font-size: clamp(2.5rem, 5vw, 6.25rem);
  line-height: 1;
  padding: 3rem 0;
}

.hero__description {
  font-size: clamp(1rem, 1.05vw, 1.13rem);
  padding-bottom: 8rem;
}

.hero__highlight {
  color: var(--primary-coral);
}

@media (min-width: 700px) {
  .hero__content {
    width: 100%;
  }
  .hero__title,
  .hero__description {
    margin: 0 auto;
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .hero {
    background-image: url(../assets/bg-pattern-home-2.svg),
      url(../assets/bg-pattern-home-1.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 70% 100%, 0 50%;
    min-height: 50vh;
    display: grid;
    place-items: center;
  }
  .hero__content {
    width: 60%;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .hero__title {
    align-self: flex-start;
    padding: 0;
  }

  .hero__description {
    padding: 0;
  }
}
