.container {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.mx-auto {
  margin: 0 auto;
}

/* .section__header,
.section__body {
  margin: 4rem auto;
} */

.section__title {
  font-size: clamp(2rem, 2.5vw, 3rem);
}

.hidden {
  display: none;
}

@media (min-width: 700px) {
}

@media (min-width: 1000px) {
}
