:root {
  --primary-green: hsl(186, 98%, 17%);
  --primary-coral: hsl(0, 87%, 73%);
  --primary-white: hsl(0, 0%, 100%);
  --secondary-rapture-blue: hsl(179, 42%, 63%);
  --secondary-police-blue: hsl(187, 41%, 29%);
  --secondary-jungle-green: hsl(186, 100%, 14%);
  --secondary-sacramento-green: hsl(186, 96%, 10%);
  --secondary-dark-green: hsl(186, 100%, 8%);
  --primary-font: 'Livvic', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body,
button,
input,
textarea {
  font-family: var(--primary-font);
  color: var(--primary-white);
  font-size: 0.94rem;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  border: 2px solid transparent;
  color: inherit;
}

button {
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
