.quotes {
  margin: 2rem 0;
  display: grid;
  gap: 2rem;
}

.quote {
  background-image: url(../../assets/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.citation__name {
  font-size: 1.13rem;
  color: var(--secondary-rapture-blue);
}

.citation__occupation {
  font-size: 0.81rem;
}

.citation__image {
  margin: 1rem auto;
  width: 62px;
  border: 2px solid var(--secondary-rapture-blue);
  border-radius: 50%;
}
